Repository Green-Software-Foundation/if-unofficial-plugins, pull requests merged in 2024-04, with the labels that each got.

#71 Add co2js plugin and validations test coverage
  src/__tests__/unit/lib/co2js/index.test.ts
  src/__tests__/unit/util/validations.test.ts
  src/lib/teads-aws/index.ts
Labels: tests, size: medium, dev-review-pass, qa-pass

#68 Azure-importer test coverage
  src/__tests__/unit/lib/azure-importer/index.test.ts
  src/lib/azure-importer/azure-api.ts
  src/lib/azure-importer/index.ts
Labels: tests, size: small, dev-review-pass, qa-pass

#70 Ccf test coverage
  src/__tests__/unit/lib/ccf/ccf-main.test.ts
  src/__tests__/unit/lib/ccf/ccf-usage.test.ts
  src/__tests__/unit/lib/ccf/index.test.ts
  src/lib/ccf/index.ts
Labels: tests, size: medium, dev-review-pass, qa-pass

#72 Watt-time unit test
  src/__mocks__/watt-time/index.ts
  src/__mocks__/watt-time/region-data.json
  src/__tests__/unit/lib/watt-time/index.test.ts
  src/lib/watt-time/watt-time-api.ts
Labels: tests, size: medium, dev-review-pass, awaiting-qa

#69 Boavizta test coverage
  src/__mocks__/boavizta/axios.ts
  src/__tests__/unit/lib/boavizta/index.test.ts
  src/lib/boavizta/boavizta-api.ts
  src/lib/boavizta/index.ts
Labels: tests, size: medium, awaiting-dev-review

#65 Improve Watt-time plugin
  package-lock.json
  package.json
  src/__mocks__/watt-time/data.json
  src/__mocks__/watt-time/index.ts
  src/__tests__/unit/lib/watt-time/index.test.ts
  src/lib/watt-time/README.md
  src/lib/watt-time/index.ts
  src/lib/watt-time/types.ts
  src/lib/watt-time/watt-time-api.ts
Labels: size: medium, dev-review-pass, awaiting-qa, fix

#73 chore(package): release v0.3.1 ✨
  package-lock.json
  package.json
Labels: release

#74 Release v0.3.1
  README.md
  package-lock.json
  package.json
  src/__mocks__/boavizta/axios.ts
  src/__mocks__/watt-time/data.json
  src/__mocks__/watt-time/index.ts
  src/__mocks__/watt-time/region-data.json
  src/__tests__/unit/lib/azure-importer/index.test.ts
  src/__tests__/unit/lib/boavizta/index.test.ts
  src/__tests__/unit/lib/ccf/ccf-main.test.ts
  src/__tests__/unit/lib/ccf/ccf-usage.test.ts
  src/__tests__/unit/lib/ccf/index.test.ts
  src/__tests__/unit/lib/co2js/index.test.ts
  src/__tests__/unit/lib/watt-time/index.test.ts
  src/__tests__/unit/util/validations.test.ts
  src/lib/azure-importer/azure-api.ts
  src/lib/azure-importer/index.ts
  src/lib/boavizta/boavizta-api.ts
  src/lib/boavizta/index.ts
  src/lib/ccf/index.ts
  src/lib/teads-aws/index.ts
  src/lib/watt-time/README.md
  src/lib/watt-time/index.ts
  src/lib/watt-time/types.ts
  src/lib/watt-time/watt-time-api.ts
Labels: release

#75 Show warning log only once if needed
  src/lib/watt-time/index.ts
Labels: bug, size: small, awaiting-dev-review

#77 Fix 'cpu/utilization' in azure-importer plugin
  src/__tests__/unit/lib/azure-importer/index.test.ts
  src/lib/azure-importer/index.ts
Labels: size: small, awaiting-dev-review, fix
